body {
    padding: 0;
    margin: 0;
}

img {
    position: absolute;
    left: 50%;
    top: -30%;
    margin-left: -43px;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsl(185, 41%, 84%);
}

.main-block {
    width: 800px;
    height: 400px;
    padding: 30px;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -430px;

    background: white;
    border-radius: 25px;

    display: flex;
    column-gap: 30px;

    font-family: 'Space Mono', monospace;
}

.settings-block {
    width: 50%;
    margin-top: 10px;
}

.result-block {
    display: flex;
    flex-direction: column;
    width: 50%;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 15px;
    background-color: hsl(183, 100%, 15%);
}

label {
    margin-bottom: 10px;
    font-size: 14px;
    color: hsl(186, 14%, 43%);
}

.billInput {
    width: 95%;
    height: 45px;
    margin: 10px 0 35px;
    padding: 5px 10px;
    float: left;
    text-align: right;
    border: none;
    border-radius: 7px;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    background: hsl(189, 41%, 97%) url("images/icon-dollar.svg") no-repeat 15px 50%;
}

.billInput:focus {
    margin: 9px 0 34px;
    outline: none;
    border:1px solid #07cc69;
    font-family: 'Space Mono', monospace;
}

.tipSelectLabel {
    display: block;
}

.radio-block {
    display: inline-block;
    width: 30%;
    height: 45px;
    margin-right: 1%;
    margin-bottom: 10px;
}

.tip-radios {
    display: none;
}

.tipLabel {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    padding: 10px;
    text-align: center;
    background-color: hsl(183, 100%, 15%);
    border-radius: 5px;
    line-height: 25px;
    font-size: 20px;
    color: white;
    transition-duration: 0.2s;
}

.radio-block:nth-child(3n + 2) {
    margin-right: 0;
    margin-bottom: 0;
}

.tipLabel:hover {
    background-color: hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%);
    cursor: pointer;
}

.radio-block input:checked ~ label {
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

.tip-custom {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    text-align: center;
    transition-duration: 0.2s;
}

.tip-custom-unselected {
    background: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
}

.tip-custom-selected {
    background-color: hsl(172, 67%, 45%);
}

.tip-custom:hover {
    background-color: hsl(185, 41%, 84%);
}

.tip-custom:focus {
    outline: none;
    border:1px solid #07cc69;
    background-color: white;
}

input:focus::placeholder {
    color: transparent;
}


.tipSelectBlock {
    margin-bottom: 20px;
}

.People-Num {
    float: left;
    width: 95%;
    height: 45px;
    margin: 10px 0 35px;
    padding: 5px 10px;
    border: none;
    border-radius: 7px;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    text-align: right;
    background: hsl(189, 41%, 97%) url("images/icon-person.svg") no-repeat 15px 50%;
}

.People-Num:focus {
    margin: 10px 0 34px;
    outline: none;
    border:1px solid #07cc69;
    font-family: 'Space Mono', monospace;
}

.error-border {
    margin: 10px 0 34px;
    border: 1px solid rgba(255, 0, 0, 0.76);
}

.infoBlock {
    position: relative;
    margin-bottom: 40px;
}

.tip3000 {
    margin-top: 20px;

}

h2 {
    margin: 0;
    color: white;
    font-size: 15px;
}

p {
    margin: 0;
    color: hsl(186, 14%, 43%);
    font-size: 13px;
}

.result {
    float: right;
    position: absolute;
    top: -10px;
    right: 0px;
    color: hsl(172, 67%, 45%)
}

.result-standart {
    font-size: 42px;
}

.result-mini {
    font-size: 38px;
}

input[type='submit'] {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    margin-top: auto;
    border-radius: 5px;
    background-color: hsl(172, 67%, 45%);
    border: 0;
    font-size: 20px;
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    color: hsl(183, 100%, 15%);
    transition-duration: 0.2s;
    cursor: pointer;
}

input[type='submit']:hover {
    background-color: hsl(185, 41%, 84%);
}

input[type='submit']:active {
    background-color: hsl(189, 41%, 97%);
    
}

.dis {
    display: none;
}

.error {
    float: right;
    color: rgba(255, 0, 0, 0.76);
    line-height: 23px;
}

@media (max-width: 860px) {
    img {
        top: -12%;
    }

    .main-block {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 105%;
        left: 0;
        top: 325px;
        margin-left: 0;
    }

    .settings-block {
        width: 100%;
    }

    .result-block {
        width: 100%;
        margin-top: 100px;
    }

    input[type='submit'] {
        position: static;
    }
}

@media (max-width: 435px) {
    .result {
        font-size: 28px;
    }

    .radio-block {
        width: 47%;
        margin-right: 1%;
    }

    .radio-block:nth-child(2n + 1) {
        margin-right: 0;
        margin-bottom: 0;
    }

}